@charset "utf-8";

ul,ol{
   list-style: none; 
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 1;
}
.header-logo{
    display: block;
    width: 170px;
}
.header-inner{
    max-width: 1200px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle-menu-button{
    display: none;
}
.site-menu ul{
    display: flex;
}
.site-menu ul li{
    margin-left: 20px;
    margin-right: 20px;
}
.site-menu ul li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
